<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>04 - Services</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.2/angular.min.js"></script>
</head>
<!--
    Purpose:
        Move the code to get the team members out into a re-usable service
        Demonstrate injection of the service into the controller
-->

<body 
      data-ng-app="myApp"
      data-ng-controller="teamController">

    <div>
        <h3>{{firstname}} {{lastname}}</h3>
    </div>
    <h3>Team</h3>
    <hr/>
    <ul>
        <li data-ng-repeat="person in team">{{person.name}}</li>
    </ul>
    <label>Project Manager:</label>
    <select data-ng-model="projectManager" data-ng-options="person.name for person in team" />

    <script type="text/javascript">
        var myApp = angular.module("myApp",[]);

        myApp
        .controller("teamController", function ($scope, listService) {
            //add a name property
            $scope.firstname = "Michael";
            $scope.lastname = "Thornberry"
            //default value for the project manager
            $scope.projectManager = "";
            //fetch the team members from the listService service
            $scope.team = listService.getTeam();
        })
        //create a service for accessing the list of team members
        .factory("listService", function () {
            return {
                getTeam: function () {
                    return [
                        { name: "David Galonia"},
                        { name: "Dan Murphy" },
                        { name: "Mike Hurd" },
                        { name: "Jason Still" },
                        { name: "Lamont Adams" },
                        { name: "Chris Staley" },
                        { name: "Sunny Gulati" },
                        { name: "Doug Compton" },
                        { name: "Steve Anderson" }
                    ];
                }
            }
        });
    </script>
</body>
</html>