<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>05 - Real Services</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.2/angular.min.js"></script>
</head>
<!--
    Purpose:
        Use the $http service to talk to a real live service
-->

<body 
      data-ng-app="myApp"
      data-ng-controller="teamController">

    <div>
        <h3>{{firstname}} {{lastname}}</h3>
    </div>
    <h3>Team</h3>
    <hr/>
    <!-- note the use of ng-cloak here to prevent the controls from showing until the digest cycle runs -->
    <ul >
        <li data-ng-repeat="person in team">{{person.name}}</li>
    </ul>
    <label>Project Manager:</label>
    <select data-ng-model="projectManager" data-ng-options="person.name for person in team" />

    <script type="text/javascript">
        var myApp = angular.module("myApp",[]);

        myApp
        .controller("teamController", function ($scope, listService) {
            //add a name property
            $scope.firstname = "Michael";
            $scope.lastname = "Thornberry"
            //default value for the project manager
            $scope.projectManager = "";
            //fetch the team members from the listService service.
            //  the service returns a promise, so we handle the ".then()" callback
            listService.getTeam().then(function (users) {
                //assign the team from the users
                $scope.team = users;
            });
        })
        //note: we're injecting the $http service here so we can
        //  load real data from a web service.
        .factory("listService", function ($http) {
            return {
                getTeam: function () {
                    //fetch some fake users from JSONPlaceHolder and return the promise
                    return $http.get("http://jsonplaceholder.typicode.com/users").then(function (response) {
                        return response.data;
                    });
                }
            }
        });
    </script>
</body>
</html>